[submodule "vim/.vim/bundle/vim-love-docs"]
	path = vim/.vim/bundle/vim-love-docs
	url = https://github.com/davisdude/vim-love-docs
[submodule "vim/.vim/bundle/gruvbox"]
	path = vim/.vim/bundle/gruvbox
	url = https://github.com/morhetz/gruvbox
[submodule "vim/.vim/bundle/undotree"]
	path = vim/.vim/bundle/undotree
	url = https://github.com/mbbill/undotree
[submodule "vim/.vim/bundle/vim-signature"]
	path = vim/.vim/bundle/vim-signature
	url = https://github.com/kshenoy/vim-signature
[submodule "vim/.vim/bundle/vim-flatbuffers"]
	path = vim/.vim/bundle/vim-flatbuffers
	url = https://github.com/dcharbon/vim-flatbuffers.git
